body {
    background: white;
    color: black;
    margin: 0;
    font-size: 1.5rem;
    font-family: Roboto, Sans-serif;
}

#tribute-info {
    margin: auto;
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    margin-bottom: 0;
    text-align: center;
    margin-top: 1rem;
    font-weight: normal;
}

.box {
    background: black;
    color: white;
    text-align: center;
    width: 6rem;
    height: 8rem;
    margin: 0.5rem;
}

.quote {
    font-family: serif;
    width: 32rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background: black;
    color: white;
    padding: 2rem;
    opacity: 0.80;
}
footer {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    color: white;
    background: black;
    text-align: center;
}

.link {
    animation: blink 3s infinite;
    text-decoration-line: none;
}

.link:hover {
    text-decoration-line: underline;
}

@keyframes blink {
    0% {
        opacity: 0.50;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.50;
    }
}

#twitterlink {
    text-decoration: none;
    font-size: 2rem;
    color: #00aced;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    animation: blink 3s infinite;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 10;
}

#twitterlink:hover {
    animation: twitterhover 3s;
}

@keyframes twitterhover {
    100% {
        opacity: 1;
        color: #00aced;
    }
}

/*Yin and Yang + Alan Watts image + top button:*/

#topbutton {
    position: fixed;
    z-index: 10;
    padding: 0.5rem;
}

#image {
    position: absolute;
    border-radius: 50%;
    height: 4rem;
    z-index: 1;
    opacity: 0.3;
    transition-duration: 1s;
}

#image:hover {
    opacity: 1;
}

.yinyang {
    --size: 4rem;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.whitehalfcircle {
    background: white;
    height: 100%;
    width: 50%;
    border-top-left-radius: var(--size);
    border-bottom-left-radius: var(--size);
    position: absolute;
}

.blackhalfcircle {
    background: black;
    height: 100%;
    width: 50%;
    border-top-right-radius: var(--size);
    border-bottom-right-radius: var(--size);
    position: absolute;
    margin-left: 50%;
}

.whitecircle {
    background: white;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    position: absolute;
    margin-left: 25%;
}

.blackdot {
    background: black;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    position: absolute;
    margin-left: 33%;
    margin-top: 33%;
}

.blackcircle {
    background: black;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    position: absolute;
    margin-left: 25%;
    margin-top: 50%;
}

.whitedot {
    background: white;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    position: absolute;
    margin-left: 33%;
    margin-top: 33%;
}